@model Group
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/GroupView/_GroupViewLayout.cshtml";
}
@* Group view, display all group info, make header group name*@


<div class="row">


    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="GroupName"></label>
            <input asp-for="GroupName" class="form-control" disabled />
            <span asp-validation-for="GroupName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupDescription"></label>
            <textarea asp-for="GroupDescription" disabled class="form-control" text-wrap:normal" type="text" rows="5" placeholder="Group description goes here. (Required)"></textarea>
            <span asp-validation-for="GroupDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupLocation"></label>
            <textarea asp-for="GroupLocation" disabled class="form-control" text-wrap:normal" type="text" rows="5" placeholder="Location information goes here (not required)"></textarea>
            <span asp-validation-for="GroupLocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupContact"></label>
            <textarea asp-for="GroupContact" disabled class="form-control" text-wrap:normal" type="text" rows="5" placeholder="Contact information goes here  (not required)"></textarea>
            <span asp-validation-for="GroupContact" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="State"></label>
            <select asp-for="State" disabled asp-items="Html.GetEnumSelectList<PrayerRequest.Repository.States>()" class="form-control">
                <option value="">-- Select State --</option>
            </select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupOpen"></label>
            <select value="false" disabled asp-for="GroupOpen" class="form-control" on onchange="passwordFunction(this.value)">
                <option selected value="true">No</option>
                <option value="false">Yes</option>
            </select>
            <span asp-validation-for="GroupOpen" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <img src="@ViewBag.IMG_PATH" alt="Group Image" width="200" height="200" />
        </div>
    </div>
</div>

