@model Group
@{
    ViewData["Title"] = "GroupPasswordCheck";
    Layout = "~/Views/Group/_GroupLayout.cshtml";
}

<h2>GroupPasswordCheck</h2>
<div class="row">
    <div class="col-md-12">
        <text class="text-danger">@ViewBag.ERROR</text>
        <form method="post" asp-action="GroupPasswordCheck" asp-controller="Group">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="GroupName"></label>
                <input asp-for="GroupName" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="GroupPassword"></label>
                <input asp-for="GroupPassword" class="form-control" type="password" data-val= "false"/>
            </div>
            <input asp-for="ID" value="@Model.ID" hidden />
            <input class="btn btn-primary" type="submit" value="Subscribe" />
        </form>
    </div>
</div>
